<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hhy.web.mappers.ParkMapper">

    <select id="selectParks" resultType="com.hhy.web.park.ParkDTO"
                                parameterType="com.hhy.web.park.ParkDTO">
        select
        parkName,
        jibunAddress,
        roadAddress,
        sportsFacilities,
        playFacilities,
        culturalFacilities
        from park
        <if test="search != null">
        where roadAddress like '%${search}%'
        </if>
    </select>

    <select id="selectPark" resultType="com.hhy.web.park.ParkDTO"
                            parameterType="com.hhy.web.park.ParkDTO">
       select
        parkName,
        roadAddress,
        sportsFacilities,
        playFacilities,
        amenities,culturalFacilities,otherFacilities
        from park
        where parkName like '%${search}%'
    </select>


</mapper>