<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hhy.web.mappers.UserMapper">

    <select id="insertUser"
            parameterType="com.hhy.web.user.UserDTO">
       insert into user (user_name,user_id,password)
        values (#{userName},#{userId},#{password})
    </select>

    <select id="login" resultType="com.hhy.web.user.UserDTO"
                        parameterType="com.hhy.web.user.UserDTO">
    select
    user_name userName,
    user_id userId,
    password password
    from user
    where user_id like #{userId} and password like #{password}
    </select>

    <update id="updateUser" parameterType="com.hhy.web.user.UserDTO">
        <if test="userName != null or password != null" >
        update user set user_name = #{userName} , password=#{password}
        where user_id like #{userId}
        </if>
    </update>

    <select id="deleteUser" parameterType="com.hhy.web.user.UserDTO">
        delete from user where user_id like #{userId}
    </select>

    <select id="list" resultType="com.hhy.web.user.UserDTO">
        select
        user_name userName,
        user_id userId,
        password password
        from user
    </select>

    <select id="selectOne" resultType="com.hhy.web.user.UserDTO"
                            parameterType="String">
        select
        user_name userName,
        user_id userId,
        password password
        from user
        where user_id like '%${value}'
    </select>



</mapper>