<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hhy.web.mappers.UserMapper">

    <select id="insertUser"
            parameterType="com.hhy.web.user.UserDTO">
       insert into user (user_name,user_id,password)
        values (#{userName},#{userId},#{password})
    </select>

    <select id="login" resultType="com.hhy.web.user.UserDTO"
                        parameterType="com.hhy.web.user.UserDTO">

    select
    user_name userName,
    user_id userId,
    password password
    from user
    where user_id like #{userId} and password like #{password}
    </select>

    <select id="lists" resultType="com.hhy.web.user.UserDTO">



    </select>

    <select id="deleteUser" parameterType="com.hhy.web.user.UserDTO">

        delete from user where user_id like #{userId}

    </select>
    



</mapper>